<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Advert</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"	href="css/jquery.dataTables.css" />
<script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/bootbox/4.4.0/bootbox.js"></script>
<script type="text/javascript" src="js/username_session.js"></script>
<script type="text/javascript" src="js/password_session.js"></script>
<script type="text/javascript" src="js/username_password_session.js"></script>
<style>
	body {background-image: url("/images/advert.jpg"); background-size: cover; background-position: center;}
</style>
</head>
<body>
	<div class="container-full">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>My advertisement</h1>
			</div>
		</div>
	</div>
</body>
</html>